body {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background: #e0e0e0;
}

.bg-orange {
    background-color: #F05A00;
}

.container {
    max-width: 1200px;
}

.btn-user {
    height: 60px;
    font-size: 30px;
}

.btn-user:hover {
    color: rgb(152, 91, 47);
    background-color: #F05A00;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

.deWALT p {
    font-weight: 500;
    font-size: 14px;
}

.deWALT a {
    padding: 10px 25px;
    border-radius: 3px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h6 {
    font-weight: 600;
}

.card img {
    margin: 60px auto 15px auto;
}

.logo {
    width: 110px;
}

.bg-orange:hover {
    background-color: #b34500;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

.btn-user {
    background: #F05A00;
}

.res-btn {
    max-width: 170px;
    height: 85px;
}

.col h5 {
    font-weight: 600;
    font-size: 20px;
}

.col p {
    font-weight: 500;
}

.footer-container {
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.numbers {
    font-size: 18px;
    font-weight: 500;
    line-height: 0.6rem;
}

.links a {
    border-radius: 100%;
}